﻿<br />
<span class="btn btn-primary btn-file">
    Explorar <input type="file" onchange="previewFile()" accept="image/*" style="margin:0 auto;"><br>
</span>
<br />
<img src="" alt="Image Preview" style="display:none;">

<br />
<button id="compare-btn" style="margin:8px;" class="btn btn-primary">Comparar!</button>
<br />

@Html.Partial("ResponseModal")

<script type="text/javascript">
    var previewImg = document.querySelector('img');
    $(function () {
        var compareBtn = document.getElementById('compare-btn');
        compareBtn.onclick = function () {
            var options = {
                url: '@Url.Action("CompareImage")',
                data: previewImg.src
            };
            makeAjaxRequest(options);
        };
    });
    function previewFile() {
        var file = document.querySelector('input[type=file]').files[0];
        if (file) {
            renderShrinkedImage(file);
        }
    }
    function renderShrinkedImage(file) {
        var mpImg = new MegaPixImage(file);
        // Render resized image into image element using quality option.
        // Quality option is valid when rendering into image element.
        var iOS = (navigator.userAgent.match(/(iPad|iPhone|iPod)/g) ? true : false);
        if (iOS) {
            mpImg.render(previewImg, { maxWidth: 300, maxHeight: 300, quality: 1, orientation: 6 });
        }
        else {
            mpImg.render(previewImg, { maxWidth: 300, maxHeight: 300, quality: 1 });
        }
        // Make the image visible.
        $(previewImg).show();
    }
</script>