﻿<!-- Video element (live stream) -->
<video autoplay id="video" width="320" height="240"></video>

<!-- Capture button -->
<br />
<button id="capture-btn" style="margin:8px;" class="btn btn-primary">Capturar</button>
<button id="compare-btn" style="margin:8px;" class="btn btn-primary disabled">Comparar!</button>
<br />

<!-- Canvas element (screenshot) -->
<canvas id="canvas" width="320" height="240"></canvas>

@Html.Partial("ResponseModal")

<script type="text/javascript">
    // Take a screenshot using getUserMedia API.
    // Give credit where credit is due. The code is heavily inspired by
    // HTML5 Rocks' article "Capturing Audio & Video in HTML5"
    // http://www.html5rocks.com/en/tutorials/getusermedia/intro/
    (function () {

        // Our element ids.
        var options = {
            video: '#video',
            canvas: '#canvas',
            captureBtn: '#capture-btn',
            compareBtn: '#compare-btn'
        };

        // Our object that will hold all of the functions.
        var App = {
            // Get the video element.
            video: document.querySelector(options.video),
            // Get the canvas element.
            canvas: document.querySelector(options.canvas),
            // Get the canvas context.
            ctx: canvas.getContext('2d'),
            // Get the capture button.
            captureBtn: document.querySelector(options.captureBtn),
            // Get the compare button.
            compareBtn: document.querySelector(options.compareBtn),
            // This will hold the video stream.
            localMediaStream: null,
            // This will hold the screenshot base 64 data url.
            dataURL: null,

            initialize: function () {
                var that = this;
                // Check if navigator object contains getUserMedia object.
                navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
                // Check if window contains URL object.
                window.URL = window.URL || window.webkitURL;

                // Check for getUserMedia support.
                if (navigator.getUserMedia) {
                    // Get video stream.
                    navigator.getUserMedia({
                        video: true
                    }, this.gotStream, this.noStream);

                    // Bind capture button to capture method.
                    this.captureBtn.onclick = function () {
                        that.capture();
                    };

                    // Bind capture button to capture method.
                    this.compareBtn.onclick = function () {
                        that.compare();
                    };
                } else {
                    // No getUserMedia support.
                    alert('Your browser does not support getUserMedia API.');
                }
            },

            // Stream error.
            noStream: function (err) {
                alert('Could not get camera stream.');
                console.log('Error: ', err);
            },

            // Stream success.
            gotStream: function (stream) {
                // Feed webcam stream to video element.
                // IMPORTANT: video element needs autoplay attribute or it will be frozen at first frame.
                if (window.URL) {
                    video.src = window.URL.createObjectURL(stream);
                } else {
                    video.src = stream; // Opera support.
                }

                // Store the stream.
                localMediaStream = stream;
            },

            // Capture frame from live video stream.
            capture: function () {
                // Check if has stream.
                if (localMediaStream) {
                    // Draw whatever is in the video element on to the canvas.
                    this.ctx.drawImage(video, 0, 0, 320, 240);
                    // Create a data url from the canvas image.
                    this.dataURL = canvas.toDataURL('image/jpeg');
                    // Enable the compare button.
                    $(this.compareBtn).removeClass('disabled');
                }
            },

            // Upload and compare.
            compare: function () {
                var options = {
                    // Change this to your own url.
                    url: '@Url.Action("CompareImage")',
                    data: this.dataURL
                };
                makeAjaxRequest(options);
            }
        };

        // Initialize our application.
        App.initialize();

        // Expose to window object for testing purposes.
        window.App = App;

    })();
</script>