﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <script src="~/Content/scripts/jquery-2.1.1.js"></script>
    <script src="~/Content/scripts/bootstrap.js"></script>
    <script src="~/Content/scripts/megapix-image.js"></script>
    <script src="~/Content/scripts/main.js"></script>
    <link href="~/Content/styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/styles/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/styles/main.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center" id="main-container">
        @RenderBody()
    </div>
    @RenderSection("BodyEnd", false)
</body>
</html>
