﻿<div class="modal fade" id="response-modal" tabindex="-1" role="dialog" aria-labelledby="response-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="result-div" id="response-loading" style="display:none;">
                    <img src="~/Content/images/ajax_loader_gray_64.gif" alt="Ajax Loading Image" />
                </div>
                <div class="result-div" id="response-success" style="display:none;">
                    <h4></h4>
                    <br />
                    <div></div>
                </div>
                <div class="result-div" id="response-failure" style="display:none;">
                    <h4>No hay ítems reconocibles.</h4>
                </div>
                <div class="result-div" id="response-error" style="display:none;">
                    <h4></h4>
                </div>
            </div>
        </div>
    </div>
</div>